.album-card-wrapper {
    padding: 15px;
    display: inline-block;
    border-radius: 5%;
    text-decoration: none;
    transition: box-shadow 0.1s ease-in-out;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 8px 3px rgba(72, 75, 77, 0.15);
    -moz-box-shadow: 1px 1px 8px 3px rgba(72, 75, 77, 0.15);
    box-shadow: 1px 1px 8px 3px rgba(72, 75, 77, 0.15);
    position: relative;
}

.album-card-wrapper:hover {
    -webkit-box-shadow: 1px 1px 8px 3px rgba(72, 75, 77, 0.08);
    -moz-box-shadow: 1px 1px 8px 3px rgba(72, 75, 77, 0.08);
    box-shadow: 1px 1px 8px 3px rgba(72, 75, 77, 0.08);
}

.album-title {
    text-align: center;
    color: #2e2e2e;
}

.albums-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.album-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px
}

.album-text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.release-year {
    color: #a5a4a4;
}
